Source: com.github.gabutakut.gabutdm
Section: web
Priority: optional
Maintainer: torikhabib <torik.habib@gmail.com>
Build-Depends: meson (>= 0.43),
               debhelper (>= 9),
               valac,
               libgtk-4-dev,
               libsqlite3-dev,
               libcanberra-dev,
               libsoup-3.0-dev,
               libgee-0.8-dev,
               libjson-glib-dev,
               libqrencode-dev,
               libgdk-pixbuf-2.0-dev,
               libcairo2-dev,
               libcurl4-gnutls-dev,
               libadwaita-1-dev,
Standards-Version: 4.14

Package: com.github.gabutakut.gabutdm
Architecture: any
Depends: aria2, ${misc:Depends}, ${shlibs:Depends} 
Description: Gabut Download Manaer
    Gabut Download manager that support torrent metalink magnet URIs url link with local webservice.
